---
import StandardLayout from "../../layouts/StandardLayout.astro"
import contentful from 'contentful'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { Img } from "astro-imagetools/components";
import LinkedinIcon from '../../components/LinkedinIcon.astro';
import TwitterIcon from '../../components/TwitterIcon.astro';
import Button from '../../components/Button.astro'
import { contentfulItems} from '../../components/contentfulClient.js'

export async function getStaticPaths() {
  const {formatSlug} = await import("../../featureList.js")
  let blogPosts = await contentfulItems('blogPost')

  return blogPosts.map(post => {
    return {
      params: { blogPost: formatSlug(post.fields.title) },
      props: { 
        title: post.fields.title, 
        body: documentToHtmlString(post.fields.body), 
        poster: post.fields.poster.fields.file.url,
        date: new Date(post.fields.dateCreated),
      }
    };
  });
}
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
const {title, body, poster, date, author} = Astro.props;
const url = new URL(Astro.canonicalURL);
---

<StandardLayout slug={title} openGraph={{
  basic: {
    title: title,
    type: "website",
    image: '/ReviewMate-op.jpg',
    url: url,
  },
}} >
<span class="headingbar">
  <Button as="link" color="grey" href="/blog/" outline style="margin-left: auto;margin-right: 0;text-align: right;" text="&#x21e6; All Blog Posts" />
</span>
  <article>
    <div class="infocontainer">
      <h1>{title}</h1>
      <p>{month[date.getMonth()]} {date.getDate()}, {date.getFullYear()}{author && <p> -- {author}</p>}</p>
      
      <div class="sharecontainer" style="">
        <a href={`http://twitter.com/share?url=ReviewMate%3A%20${title}%0A${url}`} target="__blank" rel="noopener" class="sharelink" style="background-color:#6FCCF5;" >
        <TwitterIcon style="fill:white; "/>
        Share on Twitter</a>
  
        <a href={`https://www.linkedin.com/sharing/share-offsite/?url=${url.href}`} target="__blank" rel="noopener" class="sharelink" style="background-color: #3B688D;"  >
        <LinkedinIcon style=" "/>
        Share on Linkedin</a>
      </div>

    </p>
  
  
    <Img src={`https://${poster}`} alt="something" objectFit="cover" />
    
    <div class="blogbody" set:html={body}></div>
  </article>
  
</StandardLayout>
<style lang="scss">
article { 
  position: relative;
  display: block;
 }
  article :global(img) {
    display: flex;
    max-width: unset!important;
    width: clamp(10rem, 50rem, 100%)!important;
    display: block!important;
    margin-inline: auto!important;
    text-align: center;
    margin-bottom: 3rem!important;
  }
  .twitter-share-button {
    display: block;
    line-height: 1.2rem;
  }
  :global(.IN-74a7d7b0-81d1-4475-af64-727c42231d82-1G9ISYhSF8XoOmdcl0yKDu){
    
  }
  .sharelink {
    color: white;
    // background-color: blue;
    display:inline-block;
    padding: 10px 10px;
    // height: 38px;
    vertical-align: middle;
    border-radius: 8px;
    font-size: 0.9rem;
    // line-height: 34px;
    padding-left: 2.6rem;
    position: relative;
    & > * {
      float: left;
      vertical-align: middle;
    }
    & :global(svg) { 
      height: 26px;
      width: 26px;
      display: inline-block;
      position: absolute;
      left: 0.5rem;
      top: 6px;
     }
  }
  .sharecontainer {
    display:flex;
    flex-flow: row nowrap; 
    gap:1rem;
    margin-bottom: 2rem;
  }
.headingbar {
  text-align: right;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}
</style>