---
import FeatureLayout from '../../layouts/FeatureLayout.astro'
import Feature from '../../components/Feature.astro'
import CallToAction from '../../components/CallToAction.astro'
import CommonTraits from "../../components/CommonTraits.jsx"
import featureList from '../../featureList.js'
import type {Module} from "../../featureList.js"

export function getStaticPaths() {
    let monitoringModules : Module[] = [];
    Object.values(featureList).forEach(category => { 
    let testingGrab = category.filter(module => {
      module.section === "Monitoring" ? monitoringModules.push(module) : false
    })
  })

  return monitoringModules.map(feature => 
  {
    return({
      params: {id: feature.slug}, 
      props: {feature: feature}
    })})
}
const {feature} = Astro.props;
---
<FeatureLayout>
<Feature title={feature.title} imgSrc={feature?.imgSrc} imgAlt={feature?.imgAlt} commontraits> 
  <div slot="paragraphs">
    {feature.long.map(paragraph => {
      return (
        <p>{paragraph}</p>
      )
    })}
  </div>
  {feature?.commontraits === true ? <CommonTraits client:idle /> : ''}
  
  { feature.bullets ? <h3 style="margin-bottom: 2rem;margin-top: 1rem;margin-inline:auto;">{feature.bullets.header}</h3><ul class="list" >{feature?.bullets?.bullets?.map(point => {
    return (
      <li class="bullet">{point}</li>
    )
  }
  )}</ul> : 

  (feature?.bullets !== undefined && feature?.bullets?.length > 0) ? <ul class="list" >{feature?.bullets?.map(point => {
    return (
      <li class="bullet">{point}</li>
    )
  }
  )}</ul> 
  : ''} 

  

  <CallToAction explain previousButton={{text: 'Auditing Accounts', href: "/resources/"}}></CallToAction>
</Feature>

</FeatureLayout>
<style lang="scss">
  .list {
    width :100%;
    margin-bottom: 4rem;
    padding-inline: 6%;
    justify-content: center;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
    flex-flow: row wrap;
    & li {
      flex: 2 1 40rem;
      max-width: 40rem;
    }
  }
.featurelist {
  margin-top: 2rem;
  & li {
    margin-bottom: 1rem;
  }
}
.accuracyrate {
  font-size: 3.2rem;
  position: absolute;
  top: 50px;
  right: 50px;
}
.inpatienttable {
  border-collapse: separate;
  border-spacing: 1rem 1em;
  margin-top: 3.4rem;
  & > thead {
    margin-top: 2rem;
  }
}
</style>
