---
import FeatureCategory from "../../components/FeatureCategory.astro"
import StandardLayout from "../../layouts/StandardLayout.astro"
import Feature from "../../components/Feature.astro"
import featureList, {formatSlug} from "../../featureList.js"
import { findNumbers } from "libphonenumber-js";
import type {Module } from "../../featureList.js"
import {pageOpenGraph} from '../../utils.js'

let modules : Module[] = [];

Object.values(featureList).forEach(category => { 
  let testingGrab = category.filter(module => {
    module.section === "Monitoring" ? modules.push(module) : false
  })
 })
---
<StandardLayout 
  openGraph={new pageOpenGraph('Monitoring Features', 
  "For top-down administration uses, ReviewMate enhances capabilities of many managers, clients, and end-users of the auditing process. Time tracking, staffing analytics, integrations, and an elaborate risk management software are focuses of ReviewMate.")}>
  <FeatureCategory title="Monitoring">
  {modules.map(module => {
    return (
      <Feature size="small" title={module.title} href={`/monitoring/${module.slug}/`}><p style="text-indent: 0;">{module.short}</p></Feature>
    )
  })}
  
  </FeatureCategory>
</StandardLayout>