---
import StandardLayout from "../layouts/StandardLayout.astro"
import Checkmark from "../components/Checkmark.astro"
import { FeatureDropdown} from '../components/FeatureDropdown.jsx'
---
<StandardLayout>

<div style="position: relative;">
  <h1 >Plans</h1>
  <p>All plans contain everything you may need for the core auditing tools such as importing data from your universe of data, pin-point findings, audit, and customizing reports. The Pro and Enterprise tiers are focused on auxiliary features such as automated montioring, etc.</p>
  <p>Every plan is simply a foundation for which you may add or remove features a-la-carte based on your needs.</p>
</div>
  
    <!-- <div class="tableheaders">
      <h2 style="font-size: 1.3rem; margin: 0;">Features</h2>
      <h2>Essentials</h2>
      <h2>Pro</h2>
      <h2>Enterprise</h2>
    </div> -->

<div style="overflow-x:scroll;height: 162%; ">
  <table style="margin-bottom: 3rem;width: 100%;">
  <colgroup>
      <col style="max-width:4rem;"></col>
      <col style="min-width: 10rem;width: 15%"></col>
      <col style="min-width: 10rem;width: 15%"></col>
      <col style="min-width: 10rem;width: 15%"></col>
    </colgroup>
    <thead>
      <tr>
        <th><h2 style="font-size: 1.3rem; margin: 0;">Features</h2></th>
        <th><h2>Essentials</h2></th>
        <th><h2>Pro</h2></th>
        <th><h2>Enterprise</h2></th>
      </tr>
    </thead>
    <tbody>
    
      
      <tr><td colspan="4" class="moduleheading"><h3>Auditing Modules</h3></td></tr>
      <tr>
        <td><FeatureDropdown header="Inpatient" body="Many features extend every aspect of inpatient auditing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Outpatient" body="Many features extend every aspect of outpatient auditing" link="/features/outpatient" client:idle /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Profee" body="Many features extend every aspect of Profee auditing" link="/features/profee/" client:idle /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="ASC" body="Many features extend of ASC auditing capability." link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="CMS-HCC" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool={false} /></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      
      <tr><td colspan="4" class="moduleheading"><h3>Additional Functionality</h3></td></tr>
      <tr>
        <td><FeatureDropdown header="Accuracy Manager (Reporting)" body="View accuracy rates for different entities, groups, and dates by slicing result findings by many types of parameters. " link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Code Finder" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Document Manager" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="User Dashboards" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Client Dashboards" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr><td colspan="4" class="moduleheading"><h3>EMR Integration</h3></td></tr>
      <tr>
        <td><FeatureDropdown header="Multifactor Authentication" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Integration Manager" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td>
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
       <td><FeatureDropdown header="LDAP / Active Directory" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="VPN Integration" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr><td colspan="4" class="moduleheading"><h3>Additional Modules</h3></td></tr>
      <tr>
        <td><FeatureDropdown header="Audit The Auditor" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
  
      <tr>
        <td><FeatureDropdown header="Workflow Analytics" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Time Tracking" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="User Training" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      
      <tr>
        <td><FeatureDropdown header="ReviewMate Insights (Benchmarking)" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Sample Selector" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
        <td><FeatureDropdown header="Customizable Workflows" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
          <td><FeatureDropdown header="Configurable Task Workflows" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool={false} /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
          <td><FeatureDropdown header="Risk Manager" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool={false} /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
          <td><FeatureDropdown header="Record Tracker" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool={false} /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
          <td><FeatureDropdown header="HCC Analyzer" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool={false} /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
          <td><FeatureDropdown header="Retrospective Queries" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td><Checkmark bool={false}/></td>
        <td><Checkmark bool /></td>
        <td><Checkmark bool /></td>
      </tr>
      <tr>
          <td><FeatureDropdown header="CDI Workflows" body="Hospital types for internal medical case billing" link="/features/inpatient" client:idle /></td> 
        <td style="border-bottom-left-radius: 13px;border-bottom: 1px solid #ddd;"><Checkmark bool={false} /></td>
        <td style="border-bottom: 1px solid #ddd;"><Checkmark bool={false}  /></td>
        <td style="border-bottom-right-radius: 13px;border-bottom: 1px solid #ddd;" ><Checkmark bool /></td>
      </tr>
    </tbody>
  </table>
</div>

</StandardLayout>

<style lang="scss">
.tableheaders{
  position: sticky;
  top: 0;
& h2 {
display: inline-block;
}
}
  table {
    // width: 104%;
    font-size: 1.05rem;
    border-collapse: separate; 
    // margin-inline: -2%;
    // margin-bottom: 3rem;
    overflow-x:scroll;
    position: relative;
  }
  th, td {
    padding: 1rem;
    font-weight: bolder;
  }
  thead {
    // position:sticky;
    top: 0;
    
  }
  th {
    position: sticky;
    top: 0;
    font-size: 3rem;
    background-color: white;
    height: 4rem;
    z-index: 500;
    // padding: 3rem 0 0;
    & > h2 {
      display: block;
      line-height: 4rem;
      margin:0;
    }
  }
  tr {
    background-color: transparent;
    transition: background-color 0.25s;
    &:hover {
      background-color: #f7f7f7;
    }
    &:nth-of-type(1):hover {
      background-color: transparent;
    }
  }
  td {
    // border: 1px solid #777;
    vertical-align: middle;
    text-align: center;
    // position: sticky;
    left: 0;
    background-color:white;
    // z-index:300;
    border-right: 1px solid #ddd;
    
    // max-width: 10rem;
    &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      font-weight: normal;
      position: relative;
    z-index:200;
    }
    &:nth-of-type(4) {
      border-right: 1px solid #ddd;
    }
  }
    .moduleheading {
      background-color: #f4f4f4;
      font-size: 1rem;
      text-align: center;
      text-indent: 3rem;
      letter-spacing: 1px;
      font-weight: bold;
      & h3 {
        font-size: 1.3rem;
        margin-bottom: 0;
      }
    }
</style>