---
import { contentfulItems} from '../../components/contentfulClient.js'
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';
import { formatSlug } from '../../featureList.js'
import StandardLayout from "../../layouts/StandardLayout.astro"
import Button from "../../components/Button.astro"



export async function getStaticPaths() {
  let whatsNew = await contentfulItems('releaseNotes')
  return whatsNew.map(release => 
  {
    return({
      params: {slug: formatSlug(release.fields.title)}, 
      props: {release: release}
    })})
}
const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
const {release} = Astro.props;
let formatDate = new Date(release.fields.month)
---
<StandardLayout>
  <div class="navcrumbs">
    <Button as="link" leftArrow color="grey" href="/resources/#whatsnew" text="Resources" outline style="margin-left: auto;margin-right: 0;text-align: right;position: absolute;"  ></Button>
  </div>

  <div class="heading">
    <div class="left">
      <h1>{release.fields.title}</h1>
      <div class="metadata">
        <span class="author">{release.fields.description}</span>
        <span class="date">{month[formatDate.getMonth()]}, {formatDate.getFullYear()}</span>
        <span >Release {release.fields.versionNumber.toFixed(1)}</span>
      </div>
    </div>
    <div class="right">
      
    </div>
  </div>
  <!-- <h1>{release.fields.title}</h1> -->

  <hr style=" margin-bottom:2.5rem;"/>
  <div class="body" set:html={documentToHtmlString(release.fields.body)}>
  </div>
</StandardLayout>

<style lang="scss">

  .navcrumbs {
    position: relative;
    display: block;
    width: 100%;
    min-width: 100%;
    height: 4rem;
    padding-bottom: 1.4rem;
  }
  @media(min-width: 980px){
    .heading{
      flex-flow: row nowrap;
      display: flex;
      & > .left {
        flex: 1 1 calc(100% - 12rem);
      }
      & > .right {
        flex: 1 1 12rem;
        display:flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        margin-bottom: 2rem;

        & > * {
          display: block;
        }
      }
    }
  }
  .metadata {
    border-left: 1px solid hsl(var(--color1hsl));
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: hsl(var(--color1hsl));
    & > span {
      display: block;
      margin-left: 2rem;
      margin-top: 1rem;
    }
    & .author{
      font-size: 180%;
      color: hsl(var(--color1hsl));
    }
    & .date{
      font-size: 140%;
      // text-indent: 2rem;
    }
  }

.body {
  max-width: 60rem;
  margin-inline: auto;
    & :global(table){
      margin-bottom: 1rem;
      background-color: white;
      width: 96%;
      margin-inline: auto;
      // border-collapse: collapse;
      border-collapse: separate;
      border-spacing: 0;
      & :global(th) {
        text-align: center;
        color: white;
        background-color: hsl(var(--color1hsl));
        padding: 10px 20px;
        :global(p){
          color: white;
          margin-bottom: 0;
        }
      }
      & :global(th):first-of-type {
        border-top-left-radius: 10px;
      }
      & :global(th):last-of-type {
        border-top-right-radius: 10px;
      }

      & :global(tr):last-of-type > :global(td):first-of-type{
        border-top-width: 0;
        border-bottom-left-radius: 10px;
      }
      & :global(tr):last-of-type > :global(td):last-of-type {
        border-bottom-right-radius: 10px;
        border-right-width: 1px;
      }
      & :global(tr) > :global(td):last-of-type {
        border-left-width: 0;
        // border: 3px solid purple;
      }
      & :global(td) {
        border: 1px solid #ccc;
        padding: 10px 16px;
        border-top-width: 0;
        & :global(p) {
          text-indent: 0;
          margin-bottom: 0;
        }
      }

      
    }
    & :global(li){
      list-style-position: unset;
      list-style-position: inside;
      list-style-type: square;
      list-style-image: none;
      // list-style-image: url('/icons/right-arrow(list2).svg');
      margin-bottom: 2rem;
      // text-indent: 0;
      & :global(*) {
        
      }
      & :global(p){
        font-size: 102%;
        display: inline;
      }

      & :global(li){
        margin-left: 2rem;
        list-style-type: lower-alpha;
        list-style-image: none;
        margin-bottom: 0.2rem;
        padding-right: 4rem;
        & :global(p){
        font-size: 95%;
        color: #888;
      }
        & :global(li){
        margin-left: 2rem;
        list-style-type: lower-roman;
        list-style-image: none;
      }
      }
    }
    & > :global(p){
      margin-bottom: 1.6rem;
      // display: inline;
    }
  }
</style>
