---
import { Img } from "astro-imagetools/components";
import contentful from 'contentful'

const client = contentful.createClient({
  space: process.env.CONTENTFUL_SPACE_ID || import.meta.env.CONTENTFUL_SPACE_ID,
  accessToken: process.env.CONTENTFUL_CONTENT_DELIVERY || import.meta.env.CONTENTFUL_CONTENT_DELIVERY,
});

let articles = await client.getEntries({
  content_type: 'articlePost'
  }).then(entries => {
    return entries.items
    }
).catch(err => {
  console.log(err)
});
const {size = "small", style} = Astro.props;

/* if (articles.length > 3 && size !== 'large'){ */
/*   articles = articles.slice(0, 2) */
/* } */
const months = ['January', 'February',
'March','April','May','June','July','August','September','October','November','Decembere',]
---
<div class:list={[ 'blogwrapper', {wrapperlarge: size === 'large'}]} id="blog" {style}>
  {size === 'large' ? <h1 style="width: 100%;">Articles</h1> : <h3 style="width: 100%;">External Articles</h3>}
  <div class="container"><br />

    {articles.map(article => {
      let formatDate =  new Date(article.fields.date)
      return (
        <a href={`${article.fields.url}`} class="articlediv">
          <div class="image">
             <Img src={`https:${article.fields.thumbnail.fields.file.url}`} alt={`${article.fields.thumbnail.fields.description}`} objectFit="contain" /> 
          </div>
          <div class="textbody">
            <h4>{article.fields.articleTitle}</h4>
            <p class="url">{article.fields.url}</p>
            <p class="author">{article.fields.author}</p>
            <p class="date">{months[formatDate.getMonth()]} {formatDate.getDate()},
            {formatDate.getFullYear()}</p>
          </div>
        </a>
      )
    })}
  </div>
</div>
<style lang="scss">
.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  & > a { 
    transition: outline 0.2s;
    outline: 2px solid transparent;
   }
  & > a:hover, & > a:focus-visible, {
    outline: 2px solid hsl(var(--color1hsl));
  }
  & * {
    color: #666;
  }
  // & > h3, & > h2 {
  //   text-align: center;
  //   margin-top: 1.6rem;
  //   margin-bottom: 2rem;
  // }
}
.image { 
  display: block;
  overflow: hidden;
  width: 100%;
  flex: 2 1 12rem;
  position: relative;
  & :global(img) {
    height: 17rem!important;
    // width: 17rem!important;
    // height: 100%!important;
    display: block;
  }
 }
 .textbody {
   background-color: white;
   padding: 20px 30px;
   padding-bottom: 4rem;
   position: relative;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   min-height: 10rem;
   height: 100%;
   & > h3 {
     margin-top: 0;
   }
   & > h4 {

     font-size: 1.3rem;
   }
   & p {
     text-indent: 0;
   }
   & .url {
     font-size: 0.8rem;
     line-height: 1rem;
     color: #999;
   }
   & .date {
     position: absolute;
     right: 1.5rem;
     bottom: 0.5rem;
     font-size: 0.9rem;
   }
 }
 .readmore {
  position: absolute;
  bottom: 0.75rem;
  right: 1.25rem;
  font-size: 0.95rem;
  background-color: white;
  color: hsl(var(--color1hsl));
 }
 .articlediv{
   flex: 1 1 40rem;
   max-width: 40rem;
 }
 .author {
  position: absolute;
  bottom: 0.55rem;
  left: 1.5rem;
 }
</style>
