---
import {formatSlug} from '../featureList.js'

import Article from "./Article.astro"
import Arrow from "./Arrow.astro"
import {Img} from 'astro-imagetools/components'
import { contentfulItems} from './contentfulClient.js'
const {size = "small", title, style, className}  = Astro.props;

let posts = await contentfulItems("blogPost")

const months = ['January', 'February',
'March','April','May','June','July','August','September','October','November','December',]
const descriptionCutoff = 120
console.log(posts[0].fields.thumbnail.fields.file.url)
---
<div class:list={[ 'blogwrapper', className ]} id="blog" {style}>
  {size === 'large' ? 
  <h1 style="width: 100%;margin-bottom:4rem;">{title}</h1> : 
  <h3 style="width: 100%;margin-bottom: 2rem;">{title}</h3>}

  <div class="container">


    <a href={`/blog/${formatSlug('df')}`}  class:list={[  'article', { 'article--small' : size === 'small' }] }>
      <div class="image">
        <Img src="https://www.pixelstalk.net/wp-content/uploads/2016/04/Google-Wallpaper-Images-HD-download.jpg" alt="something" />
      </div>
    <div class="textbody">
      <h3>{posts[0].fields.title}&nbsp;</h3>
      <!-- <p>{blogBody.length > descriptionCutoff ? blogBody.split('').splice(0, descriptionCutoff).join('').concat(' . . .') : blogBody}</p> -->
      <p class="date">insert date</p>
    </div>
    </a>

    
    <!-- {posts.map(post => 
      {
        let blogBody = post?.fields?.body?.content[0]?.content[0]?.value;
        let formatDate = new Date(post.fields.dateCreated);
        console.log(post);
        return (

          <a href={`/blog/${formatSlug('df')}`}  class:list={[  'article', { 'article--small' : size === 'small' }] }>
            <div class="image">
              <img src={'https:' + post.fields.thumbnail.fields.file.url} alt={post.fields.thumbnailAlt} />
            </div>
          <div class="textbody">
            <h3>{post.fields.title}&nbsp;</h3>
            <p>{blogBody.length > descriptionCutoff ? blogBody.split('').splice(0, descriptionCutoff).join('').concat(' . . .') : blogBody}</p>
            <p class="date">{`${months[formatDate.getMonth()]} ${formatDate.getDate()}, ${formatDate.getFullYear()}`}</p>
          </div>
          </a>
        )
      }
    )} -->
  </div>
<!-- 
  {size === "small" && 
  <a href={postType === "blogPost" ? '/blog/' : postType === 'articlePost' ? '/articles/' : '/'} style="position: absolute; right: 9%;bottom: 0;display:inline-block;text-align:right;font-size: 110%;margin: 0 0 2.5rem auto;" >
  See more {postType === "blogPost" ? 'blog' : 'article'} posts <Arrow direction="upright"/></a>} -->
</div>

<style lang="scss">
  .article { 
    transition: outline 0.2s;
    outline: 2px solid transparent;
    flex: 2 1 20rem;
    position: relative;
    display: block;
    height: 100%;
    max-width: 50rem;
    border: 2px solid transparent;
      border-radius: 10px;
    box-shadow: 0 6px 16px -8px #33333388;
    transition: transform 0.3s;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      z-index: 1;
      border-radius: 10px;
      box-shadow: 0 10px 12px 0px #33333366;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:hover, &:focus-visible, {
      border: 2px solid hsl(var(--color1hsl));
      transform: translate3d(0, -5px, 0);
      &::after {
        opacity: 1;
      }
    }
   }
.blogwrapper {
  color: #666;
  background-color: #f2f2f2;
  width: 114%;
  margin-inline: -7%;
  padding: 2% 9%;
	height: 100%;
	display: block;
  position: relative;
	& > h3, & > h2 {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align:center;
  }
	.container {
    flex: row wrap;
		align-items: stretch;
    align-content: stretch;
		display:flex;
    margin-inline: auto;
    column-gap: 5%;
    justify-content: center;
    
	}
	@media (min-width: 590px){
  .container {
    flex-flow: row wrap;
		align-items: stretch;
    align-content: stretch;
		display: flex;
    & > div {
      flex: 2 1 12rem;
    }
    & .image { 
      display: block;
    }
  }
}
}
.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 4rem;
}
.image { 
  display: block;
  overflow: hidden;
  width: 100%;
  flex: 2 1 12rem;
  position: relative;
  overflow-y: hidden;
  & :global(img) {
    // height: 17rem!important;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 15rem;
  }
 }
 
</style>