---
import Arrow from "./Arrow.astro"
  interface ButtonProps {
    text: string;
    as: "link" | "input" | "link"; 
    href?: string; 
    outline?: boolean 
    color?: "maroon" | "yellow" | "white";
    style?: string; 
    size?: number;
    leftArrow?: boolean
  }
const {text, as = "link", href, outline, color = "maroon", style, size = 1, leftArrow} = Astro.props as ButtonProps
---
{as === "link" ? 
  <a href={href} class:list={['button', {'button--outline': outline}, {[`button--${color}`] : color}, {[`button--${size}`] : size}]} {style}>{leftArrow ? <Arrow/> : ''}{text}</a> : 
as === ("submit" || "input") ? 

  <input type="submit" class:list={['button', {'button--outline': outline, 'button--leftarrow': leftArrow}, {[`button--${color}`] : color}, {[`button--${size}`] : size}]} value={text} {style}/> : 

<button class:list={['button', {'button--outline': outline}, {[`button--${color}`] : color}, {[`button--${size}`] : size}]} {style}>{leftArrow ? <Arrow/> : ''}{text}</button>
  }