---
import styles from './ConcernBlob.module.scss'
// import Rellax from '../scripts/Rellax.astro'
const {variant, tagline, description, answer, imagehref} = Astro.props
---
  
<div class:list={[styles.container, {[styles.variant2] : variant === 2}, 'rellaxwrapper']}>
  <h4 class:list={[ styles.tagline, 'rellax' ]} data-rellax-speed="0.3" >{tagline}</h4>

  <div class:list={[ styles.div, 'rellax' ]} data-rellax-speed="-0.3">

    <p class={styles.description}><img src="/icons/exclamation.svg" class={styles.exclamation} role="presentation" aria-label="hidden" /> {description}</p>
    <p class={styles.answer}>  {answer}</p>

  </div>
  <img class={styles.image} src="/favicon(withoutbg).svg" />
</div>
<style lang="scss">

</style>


