---
import styles from './ConcernBlob.module.scss'
import CheckMark from './CheckMark.astro'
const {variant, tagline, description, answer, img, imgAlt, className} = Astro.props
---
<div class:list={[styles.container, {[styles.variant2] : variant === 2}, className]}>
  <div class:list={[ styles.div ]} >
    <h4 class:list={[ styles.tagline, 'rellax2', 'concerntagline' ]} >{tagline}</h4> 
    <div class={ styles.body }>
      <p class:list={[ styles.description ]}>
      <img src="/icons/exclamation.svg" class={styles.exclamation} role="presentation" aria-label="hidden" /> {description}</p> 
      <p class={styles.answer}> <CheckMark/> {answer}</p> 
    </div>
  </div> 
  <img class:list={[ styles.image, 'rellax1' ]} src={img} alt={imgAlt} width="480" height="480" /> 
</div>