---
import styles from './ContactForm.module.scss'
import { AsYouType } from "libphonenumber-js";

	const regEmailtest = new RegExp(
		/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
	);
---
<script>

const handleSubmit = (e: Event) => {
  console.log("testing")
  e.preventDefault();
  let myForm = document.getElementById("contactform");
  let formData = new FormData(myForm);
  fetch("/", {
    method: "POST",
    headers: { "Content-Type": "application/x-www-form-urlencoded" },
    body: new URLSearchParams(formData).toString(),
  })
    .then(() => console.log("Form successfully submitted"))
    .catch((error) => alert(error));
};

  // function checkValidInput(event, type) {
  //   if (type == "email"){
  //     if (!regEmailtest.test(event.target.value)) {
  //       emailFieldRef.classList.add(styles.error);
  //       seterrorMessage("Please provide an email address");
  //       // event.target.focus();
  //     } else {
  //     }
  //   }
  //   else if (type == "phone") {
  //     if (ayt.isValid()) {
  //       console.log("hooray");
  //       // e.target.value = phoneValue;
  //     } else {
  //       ayt.reset();
  //       event.target.value = "";
  //       seterrorMessage("Is that phone number right?");
  //       phoneFieldRef.classList.add(styles.warning);

  //     }
  //   }
  // }

  document?.querySelector("#contactform")?.addEventListener("submit", handleSubmit);

</script>


<div class={styles.container}>
  <h2>
    <img
      src="/reviewmate-smallerlogo-regular.svg"
      class={styles.headerimg}
    />
    Contact Us
  </h2>
  <form
    name="contact"
    method="POST"
    data-netlify="true"
    data-netlify-honeypot="bot-field"
    class={styles.form}
    id="contactform"
  >
    <input type="hidden" name="bot-field" id="formbotfield" />
    <input type="hidden" name="form-name" value="contact" />

    <label for="name">Name:</label>
    <input
      type="text"
      name="Name"
      placeholder="Name"
      id="nameField"
      class:list={[styles.input]}
      required
    />

    <label for="emailField">Email:</label>
    <input
      type="email"
      name="Email"
      placeholder="email@email.com"
      id="emailField"
      class:list={[styles.input]}
      required
    />
    <label for="emailField">Phone (Optional):</label>
    <input
      type="tel"
      name="Phone"
      placeholder="+1 (123) 867-5309"
      id="phoneField"
      class:list={[styles.input]}
    />

    <label for="entityField">Entity:</label>
    <input
      type="text"
      name="Entity"
      placeholder="Company"
      id="entityField"
      class:list={ [styles.input]}
    />

    <div class={styles.radiodiv}>
      
      <div>
        <input
          type="checkbox"
          id="auditor"
          name="inquiry"
          value="auditing"
          class={styles.check}
        />
        <label for="auditor">Interested in Demo</label>
      </div>
      <div>
        <input
          type="checkbox"
          id="generalquestions"
          name="inquiry"
          value="general"
        />
        <label for="generalquestions">General Questions</label>
      </div>
    </div>

    <label for="commentField">Comments:</label>
    <input
      type="textarea"
      name="Info"
      id="commentField"
      class:list={ [styles.input]}
    />
    <div id="errorMessage" class={styles.errorMessage}>
    </div>
    <input type="submit" value="Submit"/>

    <!-- <button
      type="button"
      class:list={[styles.button  ]}
    >
      Send
    </button> -->
  </form>
</div>
