---
import { Img } from "astro-imagetools/components"
import CommonTraits from "./CommonTraits.astro"
const {size = "large", title, href, imgSrc, imgAlt, commontraits} = Astro.props

---

{size === "large" ? 
<article>
  <h1 class="title">{title}</h1>
  <span class="subtitle"></span>
  <div class="largediv">
    <div class="paragraph"><slot name="paragraphs" /></div>
    <Img src={imgSrc} alt={imgAlt} height={800}/>
    <slot name="common" />
    <slot name="bulletpoints" />
    <slot/>
    
  </div>
</article> :
<div class="div">
  <a href={href} class="title"><h3>{title}</h3></a>
  <slot />
  <slot name="bulletpoints" />
  <a href={href} class="seemore">See more <img src="/icons/diagonal-arrow.svg" class="seemorearrow"/></a>
</div>
}

<style lang="scss">
  .largediv {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    max-width: 100%;
  }
  .paragraph {
      padding: 1.3rem 2.3rem 3rem 1.3rem;
  }
  @media (min-width: 820px){
    .largediv {
      flex-flow: row wrap;
      &  > :global(img) { 
        flex: 1 1 50%;
        // border-left: 1px solid hsl(var(--color1hsl));
        position: relative;
        max-height: 34rem;
       }
    }
    .paragraph {
      flex: 1 1 50%;
      width: 50%;
      position: relative;
      overflow:hidden;
    }
  }

  div.div {
    padding-inline: 2rem;
  }
  .seemore {
    color: hsl(var(--color1hsl));
    display: inline-block;
    margin-left: auto;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid hsl(var(--color1hsl));
    }
  }
  .seemorearrow {
    width: 10px;
    height: 10px;
    filter: invert(24%) sepia(27%) saturate(4898%) hue-rotate(348deg) brightness(91%) contrast(83%);
  }
  a.title{
    margin-bottom: 1rem;
    border-bottom: 1px solid transparent;
    border-bottom: 1px solid hsl(var(--color1hsl));
    display: block;
    &:hover {
    }
  }
  .subtitle {
    color: #ccc;
  }
</style>