---
const {variant, style, id, className, justify, gap, padding } = Astro.props;
let procStyle = new String();
// console.log(className);
if (style ) {
  procStyle = procStyle.concat(style);
}
if (justify ) {
  procStyle = procStyle.concat('justify-content:' + justify + ';');
}
if (gap ) {
  procStyle = procStyle.concat('gap:' + gap + ';');
}
if (padding ) {
  procStyle = procStyle.concat('padding:' + padding + ';');
}

---

{variant === 0 ? <div class:list={["flexdiv", "flexdiv0", className]} {id} style={procStyle}>
<slot name="image"/>
<slot name="body"/>
</div> : variant === 1 ? <div class:list={["flexdiv", "flexdiv0", className]} {id} style={procStyle}>
<slot name="body"/>
<slot name="image"/>
</div> : variant === 2 ? <div class:list={["flexdiv", "flexdiv0", className]} {id} style={procStyle}>
<slot name="image"/>
<slot name="body"/>
</div>  : <div class:list={["flexdiv", "flexdiv0", className]} {id} style={procStyle}>
<slot />
</div> }

<style>
  .red {
    
  }
</style>