---
import Checkmark from "./Checkmark.astro"
import { FeatureDropdown} from './FeatureDropdown.jsx'
const {entry, essentials = false, pro = false, enterprise = false} = Astro.props
---
<td>
  <FeatureDropdown header={entry.title} body={entry.short}  client:idle />
</td>
<td><Checkmark bool={essentials} /></td>
<td><Checkmark bool={pro} /></td>
<td><Checkmark bool={enterprise} /></td>
