---
import { Img } from "astro-imagetools/components";

---
<div class='blogwrapper' id="blog" {style}>
  <slot name="title" /><br/>
  <slot name="mappedarticles" />

        <a href={`${article.fields.url}`} >
          <div class="image">
             <Img src={`https:${article.fields.thumbnail.fields.file.url}`} alt={`${article.fields.thumbnail.fields.description}`} objectFit="contain" /> 
          </div>
          <div class="textbody">
            <h4>{article.fields.articleTitle}</h4>
            <p class="url">{article.fields.url}</p>
            <p class="author">{article.fields.author}</p>
            <p class="date">{months[formatDate.getMonth()]} {formatDate.getDate()},
            {formatDate.getFullYear()}</p>
          </div>
        </a>
  </div>
</div>
<style lang="scss">
.blogwrapper {
  color: #666;
  background-color: #f2f2f2;
  width: 114%;
  margin-inline: -7%;
  padding: 2% 5%;
	height: 100%;
	display: block;
	& > h3, & > h2 {
    // text-align: center;
    margin-top: 1.6rem;
    margin-bottom: 2rem;
  }
	.container {
    flex: row wrap;
		align-items: stretch;
    align-content: stretch;
		display:flex;
	}
	@media (min-width: 590px){
  .container {
    flex-flow: row wrap;
		align-items: stretch;
    align-content: stretch;
		display: flex;
    & > div {
      flex: 2 1 12rem;
    }
    & .image { 
      // width: 100%;
      // height: 18rem;
      display: block;

    }
  }
}
}
.container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-bottom: 3rem;
  & > a { 
    transition: outline 0.2s;
    outline: 2px solid transparent;
    flex: 2 1 20rem;
    position: relative;
    display: block;
    height: 100%;
    transition: transform 0.3s;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      // background-color: #66666666;
      z-index: 1;
      border-radius: 10px;
      box-shadow: 0 4px 8px -2px #333333ff;
      opacity: 0;
      transition: opacity 0.3s;
    }
   }
  & > a:hover, & > a:focus-visible, {
    outline: 2px solid hsl(var(--color1hsl));
    transform: translate3d(0, -3px, 0);
    &::after {
      opacity: 1;
      transform: translate3d(0, -3px, 0);
    }
  }
  & * {
    color: #666;
  }
}
.image { 
  display: block;
  overflow: hidden;
  width: 100%;
  flex: 2 1 12rem;
  position: relative;
  overflow-y: hidden;
  & :global(img) {
    // height: 17rem!important;
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 15rem;
  }
 }
 .textbody {
   background-color: white;
   padding: 20px 30px;
   padding-bottom: 4rem;
   position: relative;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   min-height: 10rem;
   height: 100%;
   & > h3 {
     margin-top: 0;
   }
   & > h4 {

     font-size: 1.3rem;
   }
   & p {
     text-indent: 0;
   }
   & .url {
     font-size: 0.8rem;
     line-height: 1rem;
     color: #999;
   }
   & .date {
     position: absolute;
     right: 1.5rem;
     bottom: 0.5rem;
     font-size: 0.9rem;
   }
 }
 .readmore {
  position: absolute;
  bottom: 0.75rem;
  right: 1.25rem;
  font-size: 0.95rem;
  background-color: white;
  color: hsl(var(--color1hsl));
 }
 .author {
  position: absolute;
  bottom: 0.55rem;
  left: 1.5rem;
 }
</style>
