---
import { contentfulItems} from './contentfulClient.js'
// import { formatSlug } from '../featureList.ts'
// const {style}  = Astro.props;

let whatsNew = await contentfulItems('releaseNotes');
whatsNew = whatsNew.slice(0, 2);

const month = ["January","February","March","April","May","June","July","August","September","October","November","December"];
---

<section id="whatsnew" class="whatsnew">
  <h2>What's New:</h2>
  <ul class="list">
    
    {whatsNew.map(release => {
      let formatDate = new Date(release.fields.month)
      return (
        <div class="div">
          <li class="entry">{release.fields.title}</li>
          <p class="description">{release.fields.smallDescription}</p>
          <span class="date">{month[formatDate.getMonth()]}, {formatDate.getFullYear()}</span>
          <span class="version">Release {release.fields.versionNumber.toFixed(1)}</span>
        </div>
      )
    })}
  </ul>
  <a href="/contact/" class="seeall">Contact Us for more.</a>
</section>


