---
  import metadata from "./metadata.js"
  import "../styles/reset.scss"
  import "../styles/global.scss"
  import { SEO } from "astro-seo"
  import Quicklink from "../scripts/Quicklink.astro"
  // import Rellax from "../scripts/Rellax.astro"
  import ScrollReveal from "../scripts/ScrollReveal.astro"

  const {title } = metadata;

  const description = Astro.props.description || metadata.description || "descriptions of something"
  const image = "/ReviewMate-op.jpg"
  const canonical = Astro.props.canonical || metadata.canonical || undefined
  const slug = Astro.props.slug || undefined
  const openGraph = {
    basic: {
      title: Astro.props.title || `ReviewMate${Astro.request.pathname !== '/' ? ' | ' + Astro.request.pathname : ''}`,
      type: "website",
      image: Astro.props.image || "/ReviewMate-op.jpg",
      url: canonical,
    },
    image: {
      alt: 'Logo Overview of ReviewMate'
    },
    optional: {
      description: Astro.props.description || description,
    }
  }
  // const {openGraph} = Astro.props;
  // console.log(Astro.request)
---
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title set:html={title}></title> -->
    <SEO title={slug ? `${title} | ${slug}` : title} description={description} canonical={canonical} {openGraph}/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="icon" href="/favicon.svg">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600&family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <ScrollReveal />
  </head>
  
  <body>
    <slot />
  </body>
  <!-- <Rellax /> -->
  <Quicklink />
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <script defer>
    function hideDropdowns() {
      document.querySelectorAll(".dropdown--open").forEach((each) => {
        each.classList.remove("dropdown--open");
      });
      document.querySelectorAll(".arrow").forEach((each) => {
        each.classList.remove("arrow--open");
      });
    }

    function hideMobileMenu() {
      document.querySelector("nav").classList.remove("mobilemenu--open");
      document.querySelector('#mobilenavbutton').classList.remove('mobilenavbutton--open');
    }

    document.addEventListener('click', e => {
      if (e.target.closest('.fdd') == null){
        hideDropdowns();
      }
      if (e.target.closest('nav') == null && e.target.closest('header') == null){
        hideMobileMenu()
      }
    })
    </script>
</html>
